@model LancheListViewModel

@{
    ViewData["Title"] = "Lista de Lanches";
}

<div>
    <h2>@Model.CategoriaAtual</h2>
</div>
<br/>
<!--<h2 style="font-size: 12px; font-weight: normal;">@ViewData["Data"]</h2>-->

<div class="container">
    <div class="row">
        @foreach(var lanche in Model.Lanches)
        {
            <partial name="_LanchesResumo" for="@lanche/" />
        }
    </div>
</div>